body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

form {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  color: white;
  text-align: start;
  font-weight: 500;
}

input {
  outline: none;
  border: none;
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: solid 2px whitesmoke;
  color: whitesmoke;
  font-size: 1rem;
  background-color: black;
}

.message {
  height: 2em;
  border: solid black 1px;
  color: white;
  align-self: start;
  color: red;
}
.display-error {
  height: 2em;
  border: solid black 1px;
  color: white;
  align-self: start;
  color: red;
}

.display-success {
  height: 2em;
  border: solid black 1px;
  color: white;
  align-self: start;
  color: green;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  cursor: pointer;
  /* width: 100px; */
  padding: 1em 6em;
  border: none;
  outline: none;
  transition: 0.3s;
  transform: scale(1);
  border-radius: 2px;
}

button:hover,
button:focus {
  transform: scale(1.1);
}
